:root {
    --primary: #b6895b;
    --bg: #000;
}

body {
    background-color: var(--bg);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1,1,1,3);
    border-buttom: 1px solid var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.nav .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: oblique;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1 rem;    
}


